.university {
    width: 200px;
    height: 250px;
    box-shadow: 3px 5px 20px #e8e8e8;
    opacity: 0;
}

.universityan{
    width: 200px;
    height: 250px;
    opacity: 1;
    box-shadow: 3px 5px 20px #e8e8e8;
    transition: transform 0.5s, opacity 0.5s;
    transform: scale(1.3);
}

.aviron {
    width: 200px;
    height: 250px;
    box-shadow: 3px 5px 20px #e8e8e8;
    opacity: 0;
}

.avironan{
    width: 200px;
    height: 250px;
    opacity: 1;
    box-shadow: 3px 5px 20px #e8e8e8;
    transition: transform 0.5s, opacity 0.5s;
    transition-delay: 0.2s;
    transform: scale(1.3);
}

.school {
    position: relative;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    z-index: +1;
}

.schoollogos {
    position: relative;
    width: 100%;
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

.hola{
    display: flex;
    justify-content: center;
    opacity: 0;
    position: absolute;
    right: 0px;
    padding-top: 150px;
}

.holaan {
    display: flex;
    justify-content: center;
    opacity: 1;
    position: absolute;
    right: 100px;
    transition: opacity 1s, right 1s;
    transition-delay: 0.7s;
    padding-top: 150px;

}

.student {
    width: 260px;
    height: 300px;
}

.student:hover .studentemoji{
    background-image: url("./student.png");
    background-size: 100px auto;
    z-index: +1;
} 

.studentemoji {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 460px;
    left: 50%;
    transform: translateX(-50%)
}

.welder {
    width: 260px;
    height: 300px;
}

.welder:hover .welderemoji {
    background-image: url("./welder.png");
    background-size: 100px auto;
    z-index: +1;
}

.welderemoji {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 460px;
    left: 50%; 
    transform: translateX(-50%)  
}

.civil {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 460px;
    background-image: url("./me.png");
    background-size: 100px auto;
    left: 50%; 
    transform: translateX(-50%)  
}

.eyes {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    transform: translateX(-50%); 
    padding-top: 444px;
    z-index: -1;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;   
}