.boxplc {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.greenbox {
    position: absolute;
    top: 80px;
    left: 30px;
    width: 30px;
    height: 30px;
    background-color: green;
    z-index: -1;
}

.greenboxan {
    position: absolute;
    top: 80px;
    left: 180px;
    width: 30px;
    height: 30px;
    background-color: green;
    z-index: -1;
    transition: left 1s;
    animation-timing-function: linear;
}

.biggear {
    position: absolute;
    top: 65px;
    left: 180px;
    width: 40px;
}

.biggearan{
    position: absolute;
    top: 65px;
    left: 180px;
    width: 40px;
    transition: transform 1s;
    transform: rotate(180deg);
    transition-delay: 0.8s;
}

.smallgear {
    position: absolute;
    top: 80px;
    left: 215px;
    width: 25px;
}

.smallgearan {
    position: absolute;
    top: 80px;
    left: 215px;
    width: 25px;
    transition: transform 1s;
    transform: rotate(-180deg);
    transition-delay: 1s;
}

.bluecircle {
    position: absolute;
    top: 80px;
    left: 180px;
    width: 30px;
    height: 30px;
    background-color: blue;
    z-index: -1;
    border-radius: 15px;
}

.bluecirclean {
    position: absolute;
    top: 80px;
    left: 380px;
    width: 30px;
    height: 30px;
    background-color: blue;
    z-index: -1;
    border-radius: 15px;
    transition: left 1s;
    transition-delay: 1.6s;
    animation-timing-function: linear;
}

.armleft {
    position: absolute;
    top: 100px;
    left: 130px;
    width: 50px;
    z-index: -1;
}

.armleftan {
    position: absolute;
    left: 130px;
    top: 100px;
    width: 50px;
    z-index: -1;
    transition: transform 1s;
    transform: rotate(-80deg);
    transform-origin: 10px 10px;
    transition-delay: 2.5s;
}

.armright {
    position: absolute;
    left: 20px;
    top: 100px;
    width: 50px;
    z-index: -1;
}

.armrightan {
    position: absolute;
    left: 20px;
    top: 100px;
    width: 50px;
    z-index: -1;
    transition: transform 1s;
    transform: rotate(80deg);
    transform-origin: 42px 10px;
    transition-delay: 2.5s;
}

.plcimage {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height: 200px;
    background-image: url("./plc.png");
    background-size: auto 200px;
    background-repeat: no-repeat;
}


.picimage {
    position: absolute;
    right: 30px;
    bottom: 0px;
    width: 150px;
    height: 100px;
    background-image: url("./pic.png");
    background-size: auto 100px;
    background-repeat: no-repeat;
}

.languageC {
    width: 200px;
    height: 230px;
    background-image: url("./lenguajeC.png");
    background-repeat: no-repeat;
    background-size: 150px auto;
    background-position: 50px 50px;
}

.dialog {
    position: absolute;
    width: 160px;
    height: 200px;
    top: -30px;
    left: -100px;
    background-image: url("./dialog.png");
    background-size: 160px auto;
    background-repeat: no-repeat;
}